
[BASE]
TITLE = WebPanel
DESCRIPTION = WebPanel Application
IS_SECURE_COOKIE = False


[CONTACT]
NAME = org
URL = https://org.com
EMAIL = orgname@gmail.com

[JWT]
ACCESS_SECRET_KEY = your_access_secret_key
REFRESH_SECRET_KEY = your_refresh_secret_key

[REDIS]
HOST =
USERNAME =
PASSWORD =
PORT =
